<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="(fruit, index) in fruits">{{ fruit }}, {{ index }} <button @click="hapus(index)">x</button></li>
        </ul>

        <ul v-for="(player, index) in footballPlayers">
            <li>{{ player.name }} - {{ player.position }} - {{ index }}</li>
        </ul>
    </div>

    <script type="module">
       import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        createApp({
            data() {
               return {
                    fruits: ['apple', 'orange', 'melon', 'lemon', 'papaya'],
                    footballPlayers: [
                        {name: 'messi', position: 'forward'},
                        {name: 'roni sugeng', position: 'midielder'},
                        {name: 'munhar', position: 'defender'},
                        {name: 'herprast', position: 'keeper'}
                    ]
               };
            },
            methods: {
                hapus(index) {
                    this.fruits.splice(index, 1)
                }
            }
        }).mount('#app');
    </script>
</body>
</html>
